@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/fonts";
@import "normalize-scss/sass/normalize/import-now";
/**
  Import or just write your settings here
**/
$max-width-layout: 1024px;
/**
  End of settings
**/

@import "grid/grid";
@import "helpers/sprite";
@import 'utilityClasses/margins';
@import 'utilityClasses/paddings';

// @import '../blocks/**/*';
.l-custom-row{
	@include row;
	@include row-gutter(30);
}
.l-col-1{
	@include columns(12, 1);
	background-color: green;
	@include columns-gutter(30);
	@include columns-offset(12,2);
}
.l-col-7{
	@include columns(12,7);
	background-color: tomato;
	@include columns-gutter(30);
}
.l-col-14-2{
	@include columns(14, 2);
	background-color: purple;
	@include columns-gutter(30)
}
.l-col-4{
	@include columns(12,4);
	background-color: blue;
}
// HEADINGS
h1 {
    $fz: (40px 40px) (40px 40px) (55px 55px);
    @include font-size($fz);
}

h2 {
    $fz: (32px 34px) (32px 34px) (45px 50px);
    @include font-size($fz);
}

h3 {
    $fz: (26px 30px) (26px 30px) (36px 40px);
    @include font-size($fz);
}

h4 {
    $fz: (14px 22px) (14px 22px) (17px 28px);
    @include font-size($fz);
}

h5 {
    $fz: (14px 22px) (14px 22px) (15px 24px);
    @include font-size($fz);
}

h6 {
    $fz: (12px 20px) (12px 20px) (14px 22px);
    @include font-size($fz);
}


.sprite-1-test{
	$twitter: map-get($icons, twitter-logo-silhouette);
	$sprite: map-get($icons, sprite);
	background-image: url(map-get($sprite, svgPath));
    background-position: map-get($twitter, backgroundX) map-get($twitter, backgroundX);
	fill: tomato;
	width: 100px;
	height: 100px;
}
