/** Functions **/

@function getUpperWidthForMedia($number) {
    @return $number - 1;
}

@function getLowerWidthForMedia($number) {
    @return $number;
}


/** Breakpoints **/

$screen-xsmall: 0 !default;
$screen-small: 480px !default;
$screen-medium: 768px !default;
$screen-large: 992px !default;
$screen-xlarge: 1200px !default;
$screen-xxlarge: 1800px !default;

/** Container widths **/

$max-width-layout: 992px !default;
$container-small: 100% !default;
$container-medium: 100% !default;
$container-large: 100% !default;
$container-xlarge: 100% !default;
$container-xxlarge: 100% !default;

/** Columns count **/

$grid-columns: 36 !default;

/** Columns gutter **/

$grid-gutter-width: 30px !default;

/** Strings for Media **/

$media-screen: 'only screen';
$xsmall-up: $media-screen;
$xsmall-only: '#{$screen} and (max-width: #{getUpperWidthForMedia($screen-small)})';
$small-up: '#{$screen} and (min-width:#{getLowerWidthForMedia($screen-small)})';
$small-only: '#{$screen} and (max-width: #{getUpperWidthForMedia($screen-medium)})';
$medium-up: '#{$screen} and (min-width:#{getLowerWidthForMedia($screen-medium)})';
$medium-only: '#{$screen} and (min-width:#{getLowerWidthForMedia($screen-large)}) and (max-width:#{getUpperWidthForMedia($medium-range)})';
$large-up: '#{$screen} and (min-width:#{getLowerWidthForMedia($screen-large)})';
$large-only: '#{$screen} and (min-width:#{getLowerWidthForMedia($screen-xlarge)}) and (max-width:#{getUpperWidthForMedia($large-range)})';
$xlarge-up: '#{$screen} and (min-width:#{getLowerWidthForMedia($screen-xlarge)})';
$xlarge-only: '#{$screen} and (min-width:#{getLowerWidthForMedia($screen-xxlarge)}) and (max-width:#{getUpperWidthForMedia($xlarge-range)})';
$xxlarge-up: '#{$screen} and (min-width:#{getLowerWidthForMedia($screen-xxlarge)})';
$xxlarge-only: '#{$screen} and (min-width:#{getLowerWidthForMedia($xxlarge-range)})';