/** Functions **/

@function getUpperWidthForMedia($number) {
    @return $number - 1;
}

@function getLowerWidthForMedia($number) {
    @return $number;
}


/** Breakpoints **/
$media-names: (
	'xsmall',
	'small',
	'medium',
	'large',
	'xlarge',
	'xxlarge'
) !default;

$screen-xsmall: 0 !default;
$screen-small: 480px !default;
$screen-medium: 768px !default;
$screen-large: 992px !default;
$screen-xlarge: 1200px !default;
$screen-xxlarge: 1800px !default;


/** Container widths **/

$max-width-layout: 992px !default;
$container-xsmall: 100% !default;
$container-small: 100% !default;
$container-medium: 100% !default;
$container-large: 100% !default;
$container-xlarge: 100% !default;
$container-xxlarge: 100% !default;

/** Columns count **/

$grid-columns: 36 !default;

/** Columns gutter **/

$grid-gutter-width: 30px !default;

/** Strings for Media **/
// @each $media in $media-names{
// 	.hidden-#{$media}-only {
// 		@media #{map-get($media-strings-only, #{$media})} {
// 			display: none;
// 		}
// 	}
// }
$media-screen: 'screen';

$media-strings-up: (
	'xsmall': $media-screen,
	'small': '#{$media-screen} and (min-width:#{getLowerWidthForMedia($screen-small)})',
	'medium': '#{$media-screen} and (min-width:#{getLowerWidthForMedia($screen-medium)})',
	'large': '#{$media-screen} and (min-width:#{getLowerWidthForMedia($screen-large)})',
	'xlarge': '#{$media-screen} and (min-width:#{getLowerWidthForMedia($screen-xlarge)})',
	'xxlarge': '#{$media-screen} and (min-width:#{getLowerWidthForMedia($screen-xxlarge)})',
);

$media-strings-only: (
	'xsmall': '#{media-screen} and (max-width: #{getUpperWidthForMedia($screen-small)})',
	'small': '#{$media-screen} and (min-width:#{getLowerWidthForMedia($screen-small)}) and (max-width: #{getUpperWidthForMedia($screen-medium)})',
	'medium': '#{$media-screen} and (min-width:#{getLowerWidthForMedia($screen-medium)}) and (max-width:#{getUpperWidthForMedia($screen-large)})',
	'large': '#{$media-screen} and (min-width:#{getLowerWidthForMedia($screen-large)}) and (max-width:#{getUpperWidthForMedia($screen-xlarge)})',
	'xlarge': '#{$media-screen} and (min-width:#{getLowerWidthForMedia($screen-xlarge)}) and (max-width:#{getUpperWidthForMedia($screen-xxlarge)})',
	'xxlarge': '#{$media-screen} and (min-width:#{getLowerWidthForMedia($screen-xxlarge)})',
);
