/** Functions **/

@function getUpperWidthForMedia($number) {
    @return $number - 1;
}

@function getLowerWidthForMedia($number) {
    @return $number;
}


/** Breakpoints **/
$media-names: ('xsmall', 'small', 'medium', 'large', 'xlarge', 'xxlarge');

$screen-xsmall: 0 !default;
$screen-small: 480px !default;
$screen-medium: 768px !default;
$screen-large: 992px !default;
$screen-xlarge: 1200px !default;
$screen-xxlarge: 1800px !default;


/** Container widths **/

$max-width-layout: 992px !default;
$container-small: 100% !default;
$container-medium: 100% !default;
$container-large: 100% !default;
$container-xlarge: 100% !default;
$container-xxlarge: 100% !default;

/** Columns count **/

$grid-columns: 36 !default;

/** Columns gutter **/

$grid-gutter-width: 30px !default;

/** Strings for Media **/

$media-screen: 'screen';
$xsmall-up: $media-screen;
$xsmall-only: '#{media-screen} and (max-width: #{getUpperWidthForMedia($screen-small)})';
$small-up: '#{$media-screen} and (min-width:#{getLowerWidthForMedia($screen-small)})';
$small-only: '#{$media-screen} and (max-width: #{getUpperWidthForMedia($screen-medium)})';
$medium-up: '#{$media-screen} and (min-width:#{getLowerWidthForMedia($screen-medium)})';
$medium-only: '#{$media-screen} and (min-width:#{getLowerWidthForMedia($screen-medium)}) and (max-width:#{getUpperWidthForMedia($screen-large)})';
$large-up: '#{$media-screen} and (min-width:#{getLowerWidthForMedia($screen-large)})';
$large-only: '#{$media-screen} and (min-width:#{getLowerWidthForMedia($screen-large)}) and (max-width:#{getUpperWidthForMedia($screen-xlarge)})';
$xlarge-up: '#{$media-screen} and (min-width:#{getLowerWidthForMedia($screen-xlarge)})';
$xlarge-only: '#{$media-screen} and (min-width:#{getLowerWidthForMedia($screen-xlarge)}) and (max-width:#{getUpperWidthForMedia($screen-xxlarge)})';
$xxlarge-up: '#{$media-screen} and (min-width:#{getLowerWidthForMedia($screen-xxlarge)})';
$xxlarge-only: '#{$media-screen} and (min-width:#{getLowerWidthForMedia($screen-xxlarge)})';

$media-strings-only: (
	'xsmall': '#{media-screen} and (max-width: #{getUpperWidthForMedia($screen-small)})',
	'small': '#{$media-screen} and (min-width:#{getLowerWidthForMedia($screen-small)}) and (max-width: #{getUpperWidthForMedia($screen-medium)})',
	'medium': '#{$media-screen} and (min-width:#{getLowerWidthForMedia($screen-medium)}) and (max-width:#{getUpperWidthForMedia($screen-large)})',
	'large': '#{$media-screen} and (min-width:#{getLowerWidthForMedia($screen-large)}) and (max-width:#{getUpperWidthForMedia($screen-xlarge)})',
	'xlarge': '#{$media-screen} and (min-width:#{getLowerWidthForMedia($screen-xlarge)}) and (max-width:#{getUpperWidthForMedia($screen-xxlarge)})',
	'xxlarge': '#{$media-screen} and (min-width:#{getLowerWidthForMedia($screen-xxlarge)})',
);
