@import "settings";

@mixin hidden {
  display: none !important;
}

@mixin visuallyhidden{
	position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

@each $media in $media-names{
	.hidden-#{$media}-only {
		@media #{map-get($media-strings-only, #{$media})} {
			display: none;
		}
	}
}

@each $media in $media-names{
	.hidden-#{$media}-up {
		@media #{map-get($media-strings-up, #{$media})} {
			display: none;
		}
	}
}
