/** Colors
    Use this http://chir.ag/projects/name-that-color/#6195ED to get names
**/
$color-black: #000;
$color-white: #fff;
$color-base-font-color: $color-black;
$color-green: #5bac26;
$color-main-blue: #5cc5c8;
$color-gray: #747474;
$color-dark-gray: #252525;
$color-light-gray: #bfbfbf;
$color-vine-red: #9B2D30;
$color-lemon: #dbd93d;