$icons: (
	sprite: (width: 200px, height: 200px, svgPath: '/assets/images/svg-sprite-styles.svg'),
    twitter-logo-silhouette: (width: 100px, height: 100px, backgroundX: 0px, backgroundY: 0px),
    vk-social-network-logo: (width: 100px, height: 100px, backgroundX: -100px, backgroundY: -100px),
);
