mixin icon(iconName, isBlock)
	if isBlock
		svg&attributes(attributes)
			use(xlink:href='/assets/images/svg-sprite.svg##{iconName}')
	else
		+e('svg')&attributes(attributes)
			use(xlink:href='/assets/images/svg-sprite.svg##{iconName}')
