include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ./scripts

doctype html
html(lang='ru')
	include ./head
	+b('body').page
		+e('div').element asd
		block content
		| asd
		+scripts(['app.min.js'])
